/*HTML, BODY*/
html {
  	position: relative;
 	min-height: 100%;
}

/*SETTING ROBOTO FONT*/
body{
	font-family: 'Roboto', sans-serif;
	margin-bottom: 140px;
}

/*HEADER*/
header{
	height: 210px;
	background-color: #ffffff;
}
/*NAVIGATION*/
ul{
    list-style-type: none;
    margin: 0;
    margin-top: 55px;
    padding: 0;
    overflow: hidden;
}
ul li {
	margin-right: 3%;
	float: left;
	display: inline-block;
}

ul li a{
	display: block;
	width: 80px;
	height: 40px;
	color: #000000;
	line-height: 40px;
	font-weight: bold;
}

ul li a:visited{
	color: #000000;
	text-decoration: none;
}

ul li a:hover{
	color: #dd976f;
	border-bottom: 4px solid #dd976f;
	text-decoration: none;
}
/*SECTION*/
section{
	min-height: 840px;
	border-top: #efefef solid 4px;
	background-color: #f8f8f8;
	overflow: auto;
}
/*ABOUT US*/
figure{
	margin: 50px 0;
	width: 100%;
	height: 350px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
}
.about{
	width: 100%;
}

figcaption{
	height: 100%;
	padding: 0px 15% 0px 5%; 
}
/*SKICAMS*/

.skicam-wrapper{
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #ffffff;
	border: 1px solid #ececec;
	width: 100%;
	height: 100%;	
}

div.skicam-wrapper h3{
	position: relative; 
}

.date {
	display: block;
	padding: 5px;
	font-size: 8px;
	position: absolute;
	right: 0;
	top: -20px;
	color: #b6b6b6;
}

/*CONTACT*/
form{
	width: 100%;
	height: 500px;
	background-color: #ffffff;
	border: 1px solid #ededed; 
	border-radius: 2px;
	margin-top: 170px;
}

fieldset{
	width: 50%;
	margin:0 auto;
}

input, textarea{
	display: block;
	outline: none;
	resize: none;
	width: 100%;
	border: none;
	border-bottom: 1px solid #b3b3b3;
    color: #b3b3b3;
    height: 30px;
    margin: 20px auto;
}
input:first-child{
	margin-top: 90px;
}

textarea{
	margin-top: 120px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: #b3b3b3;
}

button{
	min-width: 60px;
	border: none;
	width: 40%;
	height: 40px;
	background-color: #2196f3;
	color: #ffffff;
	box-shadow: 2px 2px 5px #b3b3b3;
	float: right;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
    color: #ffffff;
  }
/*FOOTER*/
footer{
	height: 140px;
	position: absolute;
	bottom: 0;
	width: 100%;	
	background-color: #000000;
	color: #6c6c6c;
	line-height: 140px;
	text-align: center;
}

/*FOOTER BORDER LINE*/
footer::after{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	width: 40%;
	height: 100px;
	border-top: 1px solid #3a3a3a;
	left:50%;
    margin-left:-20%;
}




/*@media*/
@media (min-width: 320px) and (max-width: 767px) {
.skicam-wrapper{
	margin: 20px 0;
}

figure{
	margin: 50px 0 0 0;
}

}

